        header {
            width: 1170px;
            height: 90px;
            display: flex;
            padding: 0;
            align-items: center;
            margin: 0 auto;
            z-index: 10;
            position: relative;
        }
        
        .main-nav {
            margin-left: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            justify-content: space-between;
            color: #070707;
            font-family: 'Helvetica-medium';
        }
        
        .main-nav .nav-child {
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        .main-nav .nav-child:not(:first-child)::before {
            display: block;
            content: '';
            height: 9px;
            border-left: 0.5px solid #C6C6C6;
            margin-right: 17px;
        }
        
        .main-nav .nav-child a {
            display: flex;
            align-items: center;
            height: 100%;
        }
        
        .main-nav .nav-child:hover a {
            color: #0090FF;
            box-shadow: inset 0 2px #0090FF;
        }
        
        #sub-header {
            width: 100%;
            height: 35px;
            background: #EDEDED;
            display: flex;
            align-items: center;
            font-size: 11px;
        }
        
        #trending {
            font-weight: 600;
            margin-right: 19.27px;
            color: #333333;
            font-family: 'Helvetica-medium';
        }
        
        #trending-name {
            margin-right: 20px;
            opacity: 0.8;
            color: #666666;
            font-family: 'Helvetica-light';
        }
        
        #other-trending {
            margin-left: auto;
        }
        
        #previous-trending,
        #next-trending {
            cursor: pointer;
        }
        
        #previous-trending {
            transform: rotate(180deg);
        }
        
        .headder {
            width: 1170px;
            margin: 0 auto;
            display: flex;
            padding: 0;
            align-items: center;
            height: 100%;
        }
        
        .shawdow {
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, #1D1D1D, transparent)
        }
        
        .nav_bars {
            width: 30px;
            height: 30px;
            color: white;
            display: none;
        }
        
        @media (max-width: 915px) {
            .nav_bars {
                display: block;
            }
            .main-nav {
                display: none;
            }
        }
        
        .top-logo {
            float: left;
        }
        
        .times {
            width: 20px;
            height: 20px;
            color: #666;
            position: absolute;
            top: 0.5rem;
            right: 0;
            left: 10px;
        }
        
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.3);
            display: none;
            animation: fadein linear 0.2s;
        }
        
        .nav_mobile {
            position: fixed;
            top: 0;
            left: 0px;
            bottom: 0;
            width: 200px;
            background-color: #fff;
            transform: translateX(-100%);
            opacity: 0;
            transition: transform linear 0.2s opacityin 0.2s;
            justify-content: space-between;
            color: #070707;
            font-family: 'Helvetica-medium';
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
        }
        
        .nav_mobile-list {
            margin-top: 50px;
        }
        
        .nav_mobile-link {
            text-decoration: none;
            display: block;
            padding: 8px 0;
            align-items: center;
            height: 100%;
            padding-top: 20px;
            padding-left: 10px;
        }
        
        .check-input {
            display: none;
        }
        
        .check-input:checked~.overlay {
            display: block;
        }
        
        .check-input:checked~.nav_mobile {
            transform: translateX(0);
            opacity: 1;
        }
        
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /*mobile*/
        
        @media screen and (max-width: 414px) {
            body {
                width: 100%;
            }
            .nav_bars {
                float: right;
                margin-left: 150px;
            }
            .top-logo {
                margin-left: 20px;
                margin-top: 10px;
            }
            .nav_mobile {
                width: 100%;
                margin-left: 120px;
            }
            #sub-header {
                width: 100%;
            }
            #trending {
                margin: 0 auto;
            }
            #other-trending {
                display: flex;
            }
            .list {
                display: none;
            }
            .section-50-second {
                width: 100%;
                display: block;
                margin: 0 10px;
            }
            #main-content {
                width: 100%;
                margin: 0 10px;
                display: block;
            }
            #main-content .section-50-second {
                width: 100%;
                display: block;
                margin: 0 10px;
            }
            .aside {
                width: 100%;
                display: block;
                margin: 0 10px;
            }
            .contentt {
                width: 100%;
                display: block;
                margin: 0 10px;
            }
        }